{% extends 'base.html' %}

{% block content %}
<div class="container mx-auto py-10">
    <h1 class="text-3xl text-center mb-5">Add New Product Entry</h1>
    
    <form method="POST" enctype="multipart/form-data" class="max-w-lg mx-auto bg-white p-8 rounded-lg shadow-md">
        {% csrf_token %}
        {{ form.as_p }}
        
        <div class="text-center mt-4">
            <button type="submit" class="bg-red-500 text-white px-4 py-2 rounded">Add Product Entry</button>
        </div>
    </form>
</div>
{% endblock content %}
