{% extends 'base.html' %}

{% block content %}
<div class="py-10">
    <!-- Header -->
    <header class="text-center py-20 custom-bg p-5">
        <h1 class="text-3xl text-white mb-2">
            <strong>Welcome To {{ nama_toko }} 🥰</strong>
        </h1>
        <p class="text-lg text-white">
            By: {{ nama_pemilik }} from {{ kelas_pemilik }}
        </p>
        <h3 class="text-xl text-center font-semibold text-white mt-4">
            Our store provides the best quality and also cheap!
        </h3>
    </header>

    <!-- Add New Product Button -->
    <div class="text-center mt-10">
        <a href="{% url 'main:create_product_entry' %}">
            <button class="bg-red-500 text-white px-4 py-2 rounded">Add New Product</button>
        </a>
    </div>
    <!-- Product Cards Section -->
    <div class="container mx-auto py-10">
        {% if not product_entries %}
            <p class="text-center text-gray-700">Belum ada produk baru</p>
        {% else %}
            <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
                {% for product_entry in product_entries %}
                <div class="w-60 m-4 rounded-lg shadow-md overflow-hidden border-2 border-pink-500">
                    <img src="{{ product_entry.image.url }}" class="w-full h-48 object-cover p-3 rounded-2xl" alt="{{ product_entry.name }}" />
                    <div class="px-5 py-3 text-left">
                        <h5 class="font-bold text-xl text-pink-500 mb-4">{{ product_entry.name }}</h5>
                        <p class="text-gray-700 text-lg font-medium mb-2">{{ product_entry.price }}</p>
                        <p class="text-gray-600 text-sm leading-relaxed">{{ product_entry.description }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
</div>
{% endblock content %}
